@import '../../styles/breakpoints.scss';
@import '../../styles/variables.scss';

.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../../public/images/hero-7.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 148%;
  background-position: center;
  padding-top: 120px;
  padding-bottom: 120px;

  @include md {
    background-size: 100%;
    background-position: top;
  }

  @include lg {
    background-size: 100%;
    background-position: 0 10%;
  }

  .largeText {
    font-size: 2.6rem;

    @include md {
      font-size: 4rem;
    }
  }

  .button {
    font-size: 0.9rem;
    word-spacing: 0.7px;
    letter-spacing: 0.8px;
    padding: 12px 18px;
    border-radius: $curved-edge-size;
    background-color: #ffffff;

    &:hover {
      color: #000;
      background-color: $primary-color;
    }
  }
}
