@import '../../styles/variables.scss';

.button {
  font-size: 0.9rem;
  word-spacing: 0.7px;
  letter-spacing: 0.8px;
  padding: 12px 18px;
  border-radius: $curved-edge-size;
  background-color: #ffffff;
  box-shadow: -1px 10px 9px rgba(0, 0, 0, 0.07);

  &:hover {
    color: #000;
    background-color: $primary-color;
  }
}
