@import '../../styles/breakpoints.scss';
// @import '../../styles/variables.scss';

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../../public/images/hero.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position-x: 60%;
  color: lightgrey;

  @include md {
    // background-attachment: fixed;
  }

  @include lg {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('../../../public/images/hero-5.jpeg');
    background-position-y: 25%;
    background-size: cover;
  }

  .link {
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    color: lightgrey;

    &:hover {
      color: white;
    }
  }
}
